/*
This is just a placeholder blank stylesheet so as to support adding custom styles budled with theme's default styles

Read https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#bundling-custom-css-with-themes-assets for more info
*/

#profile img {
	float: right;
	clear: both;
	width: 250px;
	margin: 32px 0 16px 32px;
	border-radius: 8px;
}

#readme .favorites {
	display: flex;
	margin: 0 0 16px 0;
	flex-wrap: nowrap;
	gap: 16px;
}

#readme .favorites span {
	font-size: 24px;
	line-height: 32px;
	margin-top: 16px;
	margin-right: 32px;
}

#readme .favorites span small {
	font-size: 12px;
}

/* Show 7 images in a grid on desktop, and 3 on mobile */

#readme .gallery {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	margin: 0 0 16px 0;
	gap: 16px;
}

#readme .gallery img,
#readme .gallery span {
	width: 100%;
	height: auto;
}

#readme .gallery img {
	display: none;
}

#readme .gallery img:nth-child(-n+15) {
	display: block;
}

@media (max-width: 600px) {
	#profile img {
		display: block;
		clear: both;
		width: 100%;
		margin: 32px 0 32px 0;
	}

	#readme .favorites span {
		font-size: 24px;
	}

	#readme .favorites span small {
		font-size: 16px;
	}

	#readme .gallery {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	#readme .gallery img:nth-child(n+10) {
		display: none;
	}
}