/*
This is just a placeholder blank stylesheet so as to support adding custom styles budled with theme's default styles

Read https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#bundling-custom-css-with-themes-assets for more info
*/

#profile img {
	float: right;
	clear: both;
	width: 250px;
	margin: 32px 0 16px 32px;
	border-radius: 8px;
}

#readme .favorites {
	display: flex;
	margin: 0 0 16px 0;
	flex-wrap: nowrap;
	gap: 16px;
}

#readme .favorites span {
	word-break: keep-all;
	font-size: 24px;
	line-height: 32px;
	margin-top: 16px;
	margin-right: 32px;
}

#readme .favorites span small {
	white-space: nowrap;
	font-size: 12px;
}

#readme .gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0 0 16px 0;
	gap: 16px;
}

#readme .gallery img {
	display: none;
	width: 100%;
	height: auto;
}

@media (max-width: 600px) {
	#profile img {
		display: block;
		clear: both;
		width: 100%;
		margin: 32px 0 32px 0;
	}

	#readme .favorites span {
		font-size: 24px;
	}

	#readme .favorites span small {
		font-size: 16px;
	}

	#readme .gallery {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}