{{- define "main" }}

<article class="post-single">
	<header class="post-header">
		{{ partial "breadcrumbs.html" . }}
		<h1 class="post-title entry-hint-parent">
			{{- if .Draft }}
			<span class="entry-hint" title="Draft">
				<svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
					<path
						d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
				</svg>
			</span>
			{{- end }}
		</h1>
		{{- if .Description }}
		<div class="post-description">
			{{ .Description }}
		</div>
		{{- end }}
		{{- if not (.Param "hideMeta") }}
		<div class="post-meta">
			{{- partial "post_meta.html" . -}}
			{{- partial "translation_list.html" . -}}
			{{- partial "edit_post.html" . -}}
			{{- partial "post_canonical.html" . -}}
		</div>
		{{- end }}
	</header>
	{{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
	{{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}
	{{- if (.Param "ShowToc") }}
	{{- partial "toc.html" . }}
	{{- end }}

	{{- if .Content }}
	<div id="profile">
		<div class="post-content">
			{{- if not (.Param "disableAnchoredHeadings") }}
			{{- partial "anchored_headings.html" .Content -}}
			{{- else }}{{ .Content }}{{ end }}
		</div>
	</div>
	{{- end }}
</article>

<div id="readme">
	<div class="favorites">
		<div class="gallery">
			<span><small>some of my all-time</small> Favorite Games</span>
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/594650/library_600x900.jpg" alt="Hunt: Showdown 1896" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2310/library_600x900.jpg" alt="Quake" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/70/library_600x900.jpg" alt="Half-Life" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2668510/library_600x900.jpg" alt="Red Dead Redemption" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/1174180/library_600x900.jpg" alt="Red Dead Redemption 2" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/1091500/library_600x900.jpg" alt="Cyberpunk 2077" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/526870/library_600x900.jpg" alt="Satisfactory" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/962130/library_600x900.jpg" alt="Grounded" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/413150/library_600x900.jpg" alt="Stardew Valley" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/1086940/library_600x900.jpg" alt="Baldur's Gate 3" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/49520/library_600x900.jpg" alt="Borderlands 2" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/1238810/library_600x900.jpg" alt="Battlefield V" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/377160/library_600x900.jpg" alt="Fallout 4" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/292030/library_600x900.jpg" alt="The Witcher 3: Wild Hunt" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/1259420/library_600x900.jpg" alt="Days Gone" />
			<img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2408820/library_600x900.jpg" alt="Luma Island" />
		</div>
	</div>

	<div class="favorites">
		<div class="gallery">
			<span><small>some of my all-time</small> Favorite Series</span>
			<img src="https://image.tmdb.org/t/p/original/AtKo2gANo2QBgZN9ebTAa8hXnvv.jpg" />
			<img src="https://image.tmdb.org/t/p/original/dmo6TYuuJgaYinXBPjrgG9mB5od.jpg" />
			<img src="https://image.tmdb.org/t/p/original/khZqmwHQicTYoS7Flreb9EddFZC.jpg" />
			<img src="https://image.tmdb.org/t/p/original/1RUY14vkF9Qqu2sA2amiP7LP9t7.jpg" />
			<img src="https://image.tmdb.org/t/p/original/8djpxDeWpINnGhjpFXQjnBe6zbx.jpg" />
			<img src="https://image.tmdb.org/t/p/original/waLbm384SQDwLTCn6ttPqQS5kfV.jpg" />
			<img src="https://image.tmdb.org/t/p/original/hlLXt2tOPT6RRnjiUmoxyG1LTFi.jpg" />
			<img src="https://image.tmdb.org/t/p/original/ng3cMtxYKt1OSQYqFlnKWnVsqNO.jpg" />
			<img src="https://image.tmdb.org/t/p/original/c2OijvbFEXBW1onbzuvENr4CGQB.jpg" />
			<img src="https://image.tmdb.org/t/p/original/1AZERr7KEJBpcchQ6vFcbUUC0Zw.jpg" />
			<img src="https://image.tmdb.org/t/p/original/vE6138ykaEXQkCSEHyuBIgfGlUZ.jpg" />
		</div>
	</div>

	<div class="favorites">
		<div class="gallery">
			<span><small>some of my all-time</small> Favorite Movies</span>
			<img src="https://image.tmdb.org/t/p/original/uJdt3xB5nt3o6uMrAFqsErAVDqq.jpg" />
			<img src="https://image.tmdb.org/t/p/original/VlO9JkOHoZkiPsGYwzGVw9rpbS.jpg" />
			<img src="https://image.tmdb.org/t/p/original/qLX91FhHWCVrxDVsw0g2UD5c3Zk.jpg" />
			<img src="https://image.tmdb.org/t/p/original/b1xCNnyrPebIc7EWNZIa6jhb1Ww.jpg" />
			<img src="https://image.tmdb.org/t/p/original/nPJAo1NDfETSwoYl8CYE2DUBUk3.jpg" />
			<img src="https://image.tmdb.org/t/p/original/d5NXSklXo0qyIYkgV94XAgMIckC.jpg" />
		</div>
	</div>
</div>

{{- end }}{{/* end main */}}